body {
	margin: 0;
	padding: 0;
	background-color: #1e1e1e;
	overflow-x: auto;
}
a {
	color: #ffffff;
	text-decoration: none;
	user-select: none;
}
a.podstrona {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 33px;
	color: #ffffff;
	cursor: pointer;
}
a.podstrona:hover {
	text-shadow: 0px 0px 10px #ffffff;
}
#header {
	width: 100%;
	height: 75px;
	background-color: #101010;
}
#blog {
	position: absolute;
	display: block;
	width: 150px;
	height: 50px;
	top: 15px;
	left: 150px;
	text-align: center;	
}
#kontakt {
	position: absolute;
	display: block;
	width: 150px;
	height: 50px;
	top: 15px;
	left: 450px;
	text-align: center;
}
#logo {
	position: absolute;
	display: block;
	width: 300px;
	height: 75px;
	margin: auto;
	left: 0;
	right: 0;
	cursor: pointer;
}
#sklep {
	position: absolute;
	display: block;
	width: 250px;
	height: 50px;
	top: 12.5px;
	right: 300px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 38px;
	cursor: pointer;
	text-decoration: none;
}
#sklep:hover {
	text-shadow: 0px 0px 20px #ffffff;
}
#menu {
	float: right;
	height: 75px;
	width: 75px;
	cursor: pointer;
}
#koszyk {
	float: right;
	height: 75px;
	width: 75px;
	cursor: pointer;
	text-align: center;
	align-items: center;
	justify-content: center;
	line-height: 85px;
}
.fa-cart-shopping {
	display: inline-block;
	font-size: 26px;
	color: #ffffff;
	transition: transform 0.25s;
}
#koszyk:hover .fa-cart-shopping {
	transform: scale(1.1);
}
.menubar {
	width: 35px;
	height: 5px;
	margin: 6px auto;
	border-radius: 25px;
	background-color: #ffffff;
	user-select: none;
}
#menubar1 {
	margin-top: 25px;
}
#sidemenu {
	position: absolute;
	display: block;
	visibility: hidden;
	width: 250px;
	height: 250px;
	border-top: 1px solid #0d0d0d;
	right: 0;
	background-color: #101010;
	z-index: 1;
}
#menumode {
	position: absolute;
	display: block;
	width: 200px;
	height: 80px;
	top: 30px;
	left: 25px;
	background-color: #0d0d0d;
	cursor: pointer;
}
#menumodetext:hover {
	text-shadow: 0px 0px 10px #ffffff;
}
#menumodeicon {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	top: 15px;
	left: 15px;
	text-align: center;
	font-size: 35px;
	color: #ffffff;
	transition: transform 0.5s;
}
#menumode:hover #menumodeicon {
	transform: scale(1.05);
}
#menumodetext {
	position: absolute;
	display: block;
	width: 125px;
	height: 60px;
	top: 30px;
	left: 80px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
}
#menulang {
	position: absolute;
	display: block;
	width: 200px;
	height: 80px;
	top: 140px;
	left: 25px;
	background-color: #0d0d0d;
	cursor: pointer;
}
#menulang:hover #menulangtext {
	text-shadow: 0px 0px 10px #ffffff;
}
#menulangicon {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	top: 15px;
	left: 15px;
	text-align: center;
	font-size: 35px;
	color: #ffffff;
	transition: transform 0.5s;
}
#menulang:hover #menulangicon {
	transform: scale(1.05);
}
#menulangtext {
	position: absolute;
	display: block;
	width: 125px;
	height: 60px;
	top: 30px;
	left: 80px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
}
.fa-lightbulb, .fa-language {
	margin-top: 7.5px;
}
@font-face {
	font-family: Open Sans;
	src: url(../fonts/OpenSans.ttf);
}
#choosearea {
	position: relative;
	width: 100%;
	height: 1050px;
	background-image: url("../grafika/chooseparallax.jpg");
	min-height: 700px;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	/* display: none; */
}
#shoparea {
	position: relative;
	width: 100%;
	height: 2300px;
	/* display: none; */
}
.produkt {
	position: relative;
	top: 100px;
	margin: 0 auto;
	width: 75%;
	height: 350px;
	border: 1px solid #0d0d0d;
	box-shadow: 0px 0px 25px 5px #000000;
}
.produktnazwa {
	display: block;
	position: absolute;
	left: 25%;
	top: 10px;
	font-family: Nunito Sans;
	font-size: 36px;
	color: #ffffff;
	text-shadow: 2.5px 2.5px 5px #000000;
	user-select: none;
}
.produktgrafika {
	position: absolute;
	left: 2.5%;
	top: 25px;
	width: 20%;
	height: 200px;
	border: 1px solid #0d0d0d;
	box-shadow: 0px 0px 25px 5px #000000;
}
.produktcena {
	position: absolute;
	left: 2.5%;
	top: 250px;
	width: 20%;
	height: 75px;
	font-family: Kanit;
	font-size: 42px;
	color: #ffffff;
	text-align: center;
	text-shadow: 2.5px 2.5px 5px #000000;
	user-select: none;
}
.produktspecs {
	position: absolute;
	left: 25%;
	top: 70px;
	width: 50%;
	height: 250px;
	background-color: #4267b22d;
}
.produktdodaj {
	position: absolute;
	width: 100px;
	height: 100px;
	right: 2.5%;
	bottom: 5%;
	background-color: #0d0d0d;
	border: 1px solid #1e1e1e;
	font-size: 48px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	cursor: pointer;
}
.produktdodaj:hover {
	text-shadow: 0px 0px 5px #ffffff;
}
img {
	max-width: 100%;
	overflow: hidden;
}
#chooseheader {
	padding-top: 50px;
	font-family: Paytone One;
	font-size: 52px;
	color: #ffffff;
	text-shadow: 5px 5px 5px #000000;
	text-align: center;
	user-select: none;
}
#categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    font-family: Paytone One;
    font-size: 52px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    user-select: none;
}
.categories_item {
    margin: 10px;
    width: 40%;
    box-sizing: border-box;
    height: 150px;
    background-color: #1e1e1e;
    border: 1px solid #0d0d0d;
    box-shadow: 5px 5px 20px #000000;
    transition: transform 0.1s;
    cursor: pointer;
}
.categories_item:hover {
	transform: scale(1.025);
}
#return {
	position: fixed;
	width: 100px;
	height: 100px;
	right: 2.5%;
	bottom: 2.5%;
	background-color: #0d0d0d;
	border: 1px solid #1e1e1e;
	border-radius: 50%;
	font-size: 56px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
    transition: transform 0.5s, border-radius 0.25s, line-height 0.25s;
	-webkit-transition: transform 0.5s, border-radius 0.25s, line-height 0.25s;
	cursor: pointer;
	box-shadow: 5px 5px 10px #000000;
}
#returntext {
	font-family: Nunito Sans;
	font-size: 18px;
	display: none;
	overflow: hidden;
}
#return:hover {
	border-radius: 0;
	line-height: 50px;
}
#return:hover #returntext {
	display: block;
}
#footer {
	width: 100%;
	height: 300px;
	background-color:#101010;
}
#footermisc {
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 20%;
}
#footermisc img {
	position: absolute;
	margin: auto;
	left: 0;
	top: 25px;
	right: 0;
}
#footersocial {
	position: absolute;
	top: 115px;
	width: 100%;
	height: 100px;
}
#footersocial .fa-brands {
	display: block;
	position: absolute;
	left: 17.5px;
	top: 17.5px;
	font-size: 40px;
	color: #ffffff;
}
#footersocial .fa-instagram {
	left: 20px;
}
#footerfacebook {
	position: absolute;
	left: 10%;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #4267b2;
	cursor: pointer;
}
#footertwitter {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #1da1f2;
	cursor: pointer;
}
#footerinstagram {
	position: absolute;
	right: 10%;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-image: linear-gradient(#833ab4,#e1306c,#f56040,#fcaf45);
	cursor: pointer;
}
#footercopyright {
	display: block;
	position: absolute;
	width: 100%;
	top: 270px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	color: #ffffff;
	user-select: none;
}
